@charset "utf-8";

body {
  color: rgb(71, 57, 40);
  margin-bottom: 100px;
}

h4 {
  margin-bottom: 0px;
}

nav {
  background: #fff;
}

.logo {
  line-height: 48px;
  font-size: 20px;
  box-shadow: 0 3px 5px #e4e4e4;
}

.img {
  width: 100%;
  margin: 20px 0;
}

dl {
  font-size: 15px;
}

dd {
  margin-bottom: 5px;
}

.profile {
  text-align: center;
}

/* カルーセル・インディケータ */
.carousel-indicators {
  bottom: -15px;
}

.carousel-indicators li {
  border-color: #050505;
}

.carousel-indicators .active {
  background: #050505;
}

/* カルーセル・コントローラ */
.carousel-control {
  color: #050505;
}

.carousel-control:hover {
  color: #050505;
}

.carousel-control:active {
  color: #050505;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}
