@charset "utf-8";

body {
  background: #f8f8f8;
  color: rgb(71, 57, 40);
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 1.6;

}

nav {
  background: #fff;
}

.logo {
  line-height: 48px;
  font-size: 20px;
  box-shadow: 0 2px 3px #fafafa;
}

.img {
  width: 100%;
  border: 2px solid #a3a3a3;
}
