@charset "utf-8";

body {
  color: rgb(71, 57, 40);
  margin-bottom: 100px;
}

nav {
  background: #fff;
}

.logo {
  line-height: 48px;
  font-size: 20px;
  box-shadow: 0 3px 5px #e4e4e4;
}

.img {
  width: 60%;
  margin-bottom: 40px;
}

dl {
  font-size: 15px;
}

dd {
  margin-bottom: 5px;
}
